.p{
  position: relative;
  top: 5px;
  margin:0px;
  color:white;
  padding-left:30px;
}
.absolute_bottom{
  position: fixed;
  bottom: 0vh;
  z-index: 99;
}
.status_bar{
  background-color:rgb(41, 44, 49);
  height: 2rem;
  width: 100%;
}