h2{
  font-size:2.5em;
  text-align: center;
  margin:0px 0px 0px 0px;
}
h3{
  margin:0px 0px 0px 0px;
}
p{
  font-size: 1em;
  margin:5px 0px 20px 0px;
  color: black;
}
.main {
  display: inherit;
  overflow-x: hidden;
}
.panel_left{
  float:left;
  width: 50%;
  height: 100vh;
}
.panel_right{
  position: absolute;
  height: 100vh;
  width: 50%;
  margin-left:20px;
  right:0%;
}
.btn_queue{
  position: relative;
  float:right;
}
.panel_right_style{
  background-color: rgb(223, 234, 255);
  box-shadow: 0px 0px 5px 5px rgb(188, 201, 226);
}
.ct{
  width:100%;
  height:100%;
}
.ct_h_55{
  padding-left: 15px;
  padding-right: 15px;
  height:55%;
}
.center_txt{
  text-align: center;
}
.panel{
  border-radius: 5px;
  outline-color: cornflowerblue;
  outline-style:solid;
  outline-width: 5px;
  height: 100%;
}
.pd_l_10{
  padding-left: 10px;
}
.pd_r_10{
  padding-right: 10px;
}
.pd_b_10{
  padding-bottom: 10px;
}

.pd_5{
  padding: 5px;
}
.pd_15{
  padding: 15px;
}
.table{
  display: table;
}
@media screen and (orientation: portrait){
  .panel_left{
    width:100%;
    height:min-content;
    padding-bottom:20px;
  }
  .panel_right{
    position:relative;
    clear: both;
    float:none;
    width:100%;
    margin:0px;
  }
}